/* Start Globlal Varaibles */
/* Start Gloabl variables */
/* Added to Github */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  text-transform: capitalize;
}
:root {
  --main-color: #19c8fa;
  --secondary-color: rgb(15 116 143 / 70%);
  --section-background: #f6f6f6;
}
body {
  font-family: "Open Sans", "sans-serif";
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  background-image: url("../project-image/landing.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  z-index: 2;
  min-height: 100vh;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 /60%);
  z-index: -1;
}
.header .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.header .container .head .list {
  color: white;
  list-style: none;
  position: relative;
}
.header .container .head .list li {
  display: inline-block;
  padding: 15px;
  position: relative;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .header .container .head .list li {
    width: 100%;
  }
}
.header .container .head .list li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .header .container .head .list {
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    display: none;
    position: absolute;
    top: 7%;
    left: 0%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header .container .head .list li a {
    padding-bottom: 10px;
    display: block;
  }
}
.header .container .head .list li a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.header .container .head .list li a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.header .container .head .bar {
  display: none;
  color: white;
}
.header .container .head .bar i {
  padding: 15px;
  font-size: 25px;
}
@media (max-width: 991px) {
  .header .container .head .bar {
    display: block;
    cursor: pointer;
  }
}
/* End Header */
/* Start Home Section */
.header .home {
  margin-top: 60px;
  padding-top: 50px;
  width: 100%;
  position: relative;
  background-color: var(--secondary-color);
  z-index: -1;
}
.header .home .text {
  color: white;
  padding: 60px;
}
.header .home .text h3 {
  font-size: 25px;
  width: 350px;
  line-height: 1.6;
}
.header .home .text p {
  line-height: 1.8;
  width: 50%;
}
@media (max-width: 991px) {
  .header .home .text h3 {
    width: 100%;
  }
  .header .home .text p {
    width: 100%;
  }
}
/* Start Arrows */
div.arrow-first,
div.arrow-second {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s;
}
div.arrow-first:hover,
div.arrow-second:hover {
  color: var(--main-color);
}
div.arrow-first i {
  position: absolute;
}
div.arrow-first {
  left: 97%;
}
div.arrow-second {
  right: 99%;
}
div.arrow-second i {
  position: absolute;
}
@media (max-width: 991px) {
  div.arrow-first,
  div.arrow-second {
    display: none;
  }
}
/* End Arrows */
/* Start Bullets */
.bullets {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 120px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bullets span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  transition: 0.3s;
}
.bullets span.active {
  background-color: var(--main-color);
  width: 15px;
  border-radius: 10px;
}
/* End Bullets */
/* End Home Section */
/* Start Services */
.services {
  margin-top: 60px;
  margin-bottom: 60px;
}
.header-text {
  text-align: center;
  position: relative;
}
.header-text h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 10px;
  transition: 0.5s;
}
.header-text h2:hover {
  color: var(--main-color);
  padding-bottom: 0px;
}
.header-text h2::before {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100px;
  height: 3%;
}
.header-text h2::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.header-text P {
  width: 450px;
  color: #777;
  margin: 0 auto;
  line-height: 1.6;
  transition: 0.5s;
  max-width: 100%;
}
.header-text P:hover {
  color: var(--main-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
@media (max-width: 991px) {
  .services .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
  }
}
.services .container .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 991px) {
  .services .container .box {
    flex-direction: column;
    align-items: center;
  }
}
.services .container .box .icon {
  margin-top: 20px;
  padding-right: 20px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .services .container .box .icon {
    padding-right: 0;
  }
}
.services .container .box .text h4 {
  color: var(--main-color);
  margin-bottom: 40px;
}
.services .container .box .text p {
  color: #777;
}
/* End Services */
/* Start Design */
.design {
  background-image: url("../project-image/design-features.jpg");
  background-size: cover;
  position: relative;
  padding-top: 60px;
  z-index: 2;
  overflow: hidden;
}
.design .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}
.design .container .text {
  color: white;
  padding-top: 60px;
  padding-left: 60px;
}
.design .container .logo {
  position: relative;
}
@media (max-width: 992px) {
  .design .container .logo {
    display: none;
  }
  .design .container .text {
    text-align: center;
    padding: 40px;
    background-color: var(--secondary-color);
  }
}
.design .container .logo img {
  position: absolute;
  top: 70%;
}
.design .container .text .inner-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.design .container .text .inner-logo {
  transition: 0.5s;
}
.design .container .text .inner-logo:hover {
  color: var(--main-color);
}
/* End Design */
/* Start portfolio */
.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}
.portfolio .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.portfolio .text p {
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 5px;
}
.portfolio .text p:hover {
  color: white;
  background-color: var(--main-color);
}
.portfolio .text p.active {
  color: white;
  background-color: var(--main-color);
}
.portfolio .big-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 991px) {
  .portfolio .big-box {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.portfolio .big-box .box {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.portfolio .big-box .box img {
  width: 100%;
  transition: 0.5s;
}
.portfolio .big-box .box:hover img {
  transform: scale(1.1) rotate(4deg);
}
.portfolio .big-box .box p {
  position: absolute;
  bottom: -50%;
  padding: 40px 20px;
  background-color: white;
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .portfolio .big-box .box p {
    padding: 20px 15px;
  }
}
.portfolio .big-box .box:hover p {
  bottom: -10%;
}
.portfolio .big-box .box p span {
  color: var(--main-color);
}
.portfolio .button {
  text-align: center;
  margin-top: 40px;
  border: none;
}
.portfolio .button button {
  background-color: var(--main-color);
  border: none;
  padding: 15px;
  border-radius: 6px;
  transition: 0.5s;
}
.portfolio .button button:hover {
  background-color: var(--secondary-color);
}
.portfolio .button button a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
/* End portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(0 0 0 /60%);
  z-index: 1;
}
.video video {
  width: 100%;
}
.video .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
  z-index: 2;
  color: white;
}
.video .content h3 {
  font-size: 25px;
  text-transform:uppercase;
}
.video .content h3 span {
  animation: pop-up 5s linear infinite;
}
.video .content p {
  font-size: 20px;
}
@media(max-width:767px) {
  .video .content h3 {
    font-size: 15px;
  }
  .video .content p {
    font-size: 15px;
  }
}
.video .content button {
  margin-bottom: 20px;
  border: none;
  background-color: black;
  padding: 10px;
  border-radius: 6px;
}
@media(max-width:767px) {
  .video .content button {
    font-size: 10px;
  }
}
.video .content button a {
  text-decoration: none;
  color: white;
}
@media (max-width:991px) {

}
/* End Video */
/* Start Animation */
@keyframes pop-up {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color:  black;
  }
}
/* End Animation */